<div class="products-container">
    <div class="product-card" *ngFor="let product of products">
        <h2>{{product.title}}</h2>
        <img src="{{product.imageUrl}}" alt="">
        <h3>{{product.subtitle}}</h3>
        <p>{{product.description}}</p>
        <p><strong>Precio:</strong>  {{product.price | currency: 'USD' : 'symbol' }}</p>
        <p><strong>ITBMS:</strong>  {{product.price / product.itbms | currency: 'USD' : 'symbol' }}</p>
        <button (click)="returnToProducts(product)">View Product</button>
    </div>
</div>